*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
}
.navigationbar{
    height: 115px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}
.nav{
    align-items: center;
    display: flex;
}
.nav img{
      height: 25px;
      width: 205px;
      z-index: 99;
}
.bar{
    justify-content: end; 
}
.bar ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.bar ul li a{
    text-decoration: none;
    color: gray;
    font: 12px,Montserrat,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sub-home ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.sub-home ul li a:hover::after{
    width: 100%;
}



.sub-home{
    display: none;
}
.bar ul li:hover .sub-home{
    display: block;
    position: absolute;
    background-color: white;
    padding-top: 15px;
    margin-left: -40px;
    ul{
        display: block;
        margin: 10px;        
    }
    li{
        padding-top: 10px;
    }
}
.sub-pages{
    display: none;
}
.bar ul li:hover .sub-pages{
    display: block;
    position: absolute;
    background-color: white;
    padding-top: 15px;
    margin-left: -40px;
    ul{
        display: block;
        margin: 10px;        
    }
    li{
        padding-top: 10px;
    }
}
.bar ul li .sub-shop{
    display: none;
}
.bar ul li:hover .sub-shop{
    display: flex;
}
.bar ul li .sub-product{
    position: absolute;
    width: 25%;
    background-color: white;
    padding-top: 20px;
    margin-left: -700px;

ul{
    display: flex;
    flex-direction: column;
    margin: 7px;        
}
li{
    display: block;
    padding-top: 10px;
}
}
.bar ul li .sub-shop-pages{
    position: absolute;
    background-color: white;
    width: 25%;
    padding-top: 20px;
    margin-left: -400px;

ul{
    display: flex;
    flex-direction: column;
    margin: 7px;        
}
li{
    display: block;
    padding-top: 10px;
}
}.bar ul li .sub-shop-types{
    position: absolute;
    background-color: white;
    width: 25%;
    padding-top: 20px;
    margin-left: -100px;

ul{
    display: flex;
    flex-direction: column;
    margin: 7px;        
}
li{
    display: block;
    padding-top: 10px;
}
}.bar ul li .sub-shop-layout{
    position: absolute;
    background-color: white;
    width: 25%;
    padding-top: 20px;
    margin-left: 150px;

ul{
    display: flex;
    flex-direction: column;
    margin: 7px;        
}
li{
    display: block;
    padding-top: 10px;
}
}


.sub-portfolio{
    display: none;
}
.bar ul li:hover .sub-portfolio{
    display: block;
    position: absolute;
    background-color: white;
    padding-top: 15px;
    margin-left: -40px;
    ul{
        display: block;
        margin: 10px;        
    }
    li{
        padding-top: 10px;
    }
}
.sub-port-layouts{
    display: none;
}
#layouts:hover .sub-port-layouts{
    display: block;
    position: absolute;
    width: 205px;
    background-color: white;
    margin-top: -38px;
    margin-left: 210px;
    li{
        padding-top: 10px;
    }
}
.sub-port-single{
    display: none;
}
#single:hover .sub-port-single{
    display: block;
    width: 185px;
    position: absolute;
    background-color: white;
    margin-top: -35px;
    margin-left: 205px;
    li{
        padding-top: 10px;
    }
}
.sub-blog{
    display: none;
}
.bar ul li:hover .sub-blog{
    display: block;
    position: absolute;
    background-color: white;
    padding-top: 15px;
    margin-left: -40px;
    ul{
        display: block;
        margin: 10px;        
    }
    li{
        padding-top: 10px;
    }
}
.sub-post{
    display: none;
}
#post:hover .sub-post{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: -40px;
    margin-left: 105px;
    li{
        padding-top: 10px;
    }
}
.sub-elements{
    display: none;
}
.bar ul li:hover .sub-elements{
    display: block;
    position: absolute;
    background-color: white;
    padding-top: 15px;
    margin-left: -40px;
    ul{
        display: block;
        margin: 10px;        
    }
    li{
        padding-top: 10px;
    }
}
.sub-classic{
    display: none;
}
#clasic:hover .sub-classic{
    display: block;
    position: absolute;
    width: 200px;
    background-color: white;
    margin-top: -40px;
    margin-left: 125px;
    li{
        padding-top: 10px;
    }
}
.sub-info{
    display: none;
}
#info:hover .sub-info{
    display: block;
    width: 220px;
    position: absolute;
    background-color: white;
    margin-top: -40px;
    margin-left: 125px;
    li{
        padding-top: 10px;
    }
}
.sub-inter{
    display: none;
}
#inter:hover .sub-inter{
    display: block;
    position: absolute;
    width: 195px;
    background-color: white;
    margin-top: -40px;
    margin-left: 125px;
    li{
        padding-top: 10px;
    }
}
.sub-typography{
    display: none;
}
#typo:hover .sub-typography{
    display: block;
    position: absolute;
    width: 195px;
    background-color: white;
    margin-top: -40px;
    margin-left: 125px;
    li{
        padding-top: 10px;
    }
}
.slider{
    background-color: red;
    height: 600px;
    width: 100%;
}
.flowers{ 
    ul{
        margin-top: 90px;
        display: flex;
        letter-spacing: 2px;
        text-transform: uppercase;
        gap: 40px;
    }
    li {
    list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #1B1B1B;
    }
}
.filter{
    display: flex;
    margin-top: -130px;
    justify-content: flex-end;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 0;
    margin: 5px; 
    a{
        text-decoration: none;
        color: black;
    }
    img{
        width: 245px;
        height: 316.13;
    }
    p{
        margin: 10px;
        text-transform: uppercase;
        text-align: center;
        font-family: Montserrat,sans-serif;
        font-size: 12px;
    }
  
}